body {
	background-color: #000000
}

h1 {
	font-family: Georgia, serif;
	color: red;
	align: centre;
}

p {
	font-family: calibri;
	color: white;
	align: left;
}

A {
	font-family: calibri;
	color: red;
	align: right;
}
