body {
	background-color: #000000
}

h1 {
	color: red;
	text-align: center;
	font-family: "Josefin Slab";
	font-size: 40px;
	border-botton: 3px solid #cc9900
}

p {
	color: white;
	text-align: center;
	font-family: "Calibri";
	font-size: 20px;
}

A {
	color: orange;
	text-align: center;
	font-family: "Calibri";
	font-size: 15px;
}
