body {
	background-image: url("images/b_image.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

h1 {
	font-family: Georgia, serif;
	color: red;
	text-align: center;
}

p {
	font-family: calibri;
	color: white;
	text-align: left;
}

A {
	font-family: calibri;
	color: red;
	text-align: right;
}
